<tr>
  <td>
    <%= render_image_book if book.image.attached? %>
  </td>
  <td>
    <%= book.name %>
  </td>
  <td class="w-400">
    <%= book.description %>
  </td>
  <td>
    <%= book.quantity %>
  </td>
  <td>
    <%= book.author_name %>
  </td>
  <td>
    <%= book.publisher_name %>
  </td>
  <td class="w-180">
    <%= link_to "javascript:void(0)",
      {class: "btn btn-icon btn-success show_book",
        data: { bs_toggle: "modal",
        bs_target: "#exampleModalCenter"}} do %>
      <i class="icon feather icon-eye f-16"></i>
    <% end %>
    <%= link_to "javascript:void(0)",
      {class: "btn btn-icon btn-warning edit_book",
        data: { url: "#",
        bs_placement: "top"}} do %>
      <i class="icon feather icon-check-square f-16"></i>
    <% end %>
  </td>
</tr>
