<nav class="pcoded-navbar menupos-fixed menu-dark ">
  <div class="navbar-wrapper  ">
    <div class="navbar-content scroll-div ">
      <ul class="nav pcoded-inner-navbar ">
        <li class="nav-item pcoded-menu-caption">
          <label>
            <%= t "nav" %>
          </label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#" class="nav-link ">
            <span class="pcoded-micon">
              <i class="fa fa-tachometer"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "index" %>
            </span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#" class="nav-link ">
            <span class="pcoded-micon">
              <i class="fa fa-address-book"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "list_nav" %>
            </span>
          </a>
          <ul class="pcoded-submenu">
            <li class="pcoded-hasmenu">
              <%= link_to t("page1"), "#" %>
              <ul class="pcoded-submenu">
                <li>
                  <%= link_to t("page1"), "#" %>
                </li>
                <li>
                  <%= link_to t("page2"), "#" %>
                </li>
                <li>
                  <%= link_to t("page1"), "#" %>
                </li>
                <li>
                  <%= link_to t("page2"), "#" %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "page1" %>
                <span class="pcoded-badge badge bg-danger">
                  <%= t "hot" %>
                </span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <%= link_to "#", class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-user"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "users.account" %>
            </span>
          <% end %>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("users.profile"), "#" %>
            </li>
            <li>
              <%= link_to t("users.change_password"), "#" %>
            </li>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <%= link_to "#", class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="feather icon-users"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "user" %>
            </span>
            <span class="pcoded-badge badge bg-success">50+</span>
          <% end %>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>
            <%= t "nav" %>
          </label>
        </li>
        <li class="nav-item">
          <%= link_to admin_users_path, class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-users"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "users.title" %>
            </span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_category_index_path, class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-book"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "category.title" %>
            </span>
          <% end %>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <%= link_to "#", class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-book-open"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "books.title" %>
            </span>
          <% end %>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("books.list"), admin_books_path %>
            </li>
            <li>
              <%= link_to t("books.analytics"), "#" %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to admin_authors_path, class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-user-secret"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "admin.authors.index.author" %>
            </span>
          <% end %>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#" class="nav-link ">
            <span class="pcoded-micon">
              <i class="fas fa-book"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "list_nav" %>
            </span>
          </a>
          <ul class="pcoded-submenu">
            <li class="pcoded-hasmenu">
              <%= link_to t("category.title"), admin_books_path %>
              <ul class="pcoded-submenu">
                <li>
                  <%= link_to t("books.title"), "#" %>
                </li>
                <li>
                  <%= link_to t("books.analytics"), "#" %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "page1" %>
                <span class="pcoded-badge badge bg-danger">
                  <%= t "hot" %>
                </span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <%= link_to "#", class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="fas fa-address-card"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "page1" %>
            </span>
          <% end %>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <%= link_to "#", class:"nav-link" do %>
            <span class="pcoded-micon">
              <i class="feather icon-users"></i>
            </span>
            <span class="pcoded-mtext">
              <%= t "user" %>
            </span>
          <% end %>
          <ul class="pcoded-submenu">
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
            <li>
              <%= link_to t("page1"), "#" %>
            </li>
            <li>
              <%= link_to t("page2"), "#" %>
            </li>
          </ul>
        </li>
      </ul>
      <div class="card text-center">
        <div class="card-block">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
          <i class="feather icon-sunset f-40"></i>
          <h6 class="mt-3">Help?</h6>
          <p>
            <%= t "please_contact" %>
          </p>
          <%= link_to t("support"), "#", class:"btn btn-primary btn-sm text-white m-0", target:"_blank" %>
        </div>
      </div>
    </div>
  </div>
</nav>
