<tr>
  <td>
    <%= author_counter + 1 %>
  </td>
  <td>
    <%= author.name %>
  </td>
  <td>
    <%= image_tag author.display_image, class: "img-responsive author_image" %>
  </td>
  <td>
    <%= t author.gender %>
  </td>
  <td>
    <%= author.description %>
  </td>
  <td>
    <%= author.dob %>
  </td>
  <td>
    <%= link_to admin_author_path(author),
        class: "btn btn-icon btn-success",
        data: { bs_toggle: "modal", bs_target: "#modalLive" },
        remote: true do %>
          <i class="fas fa-eye"></i>
        <% end %>
    <%= link_to edit_admin_author_path(author),
        class: "btn btn-icon btn-warning",
        data: { bs_toggle: "modal" , bs_target: "#modalLive" },
        remote: true do %>
          <i class="fas fa-edit"></i>
        <% end %>
    <%= link_to "javascript:void(0)",
      {class: "btn btn-icon btn-danger delete_author",
        data: { url: admin_author_path(author),
        bs_placement: "top"}} do %>
      <i class="icon feather icon-trash-2 f-16"></i>
    <% end %>
  </td>
</tr>
