<% provide :title, t(".list_order") %>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10"><%= t ".author_list" %></h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <%= link_to admin_home_path do %>
                        <i class="feather icon-home"></i>
                    <% end %>
                  </li>
                  <li class="breadcrumb-item"><%= link_to t(".order"), admin_orders_path %></li>
                  <li class="breadcrumb-item"><%= t ".order_list" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="card-body table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>
                              STT
                            </th>
                            <th>
                              <%= t "user" %>
                            </th>
                            <th>
                              <%= t "status" %>
                            </th>
                            <th>
                              <%= t "admin.orders.note_user" %>
                            </th>
                            <th>
                              <%= t "admin.orders.note_admin" %>
                            </th>
                            <th>
                              <%= t "admin.orders.date_start" %>
                            </th>
                            <th>
                              <%= t "admin.orders.date_return" %>
                            </th>
                            <th>
                              <%= t "action" %>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="contentTableOrder">
                          <%= render @orders %>
                        </tbody>
                      </table>
                    </div>
                    <div id="pagyOrder">
                      <%== pagy_nav @pagy %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shares/modal" %>
