<div class="quick-registration register-bottom" id="f-te">
  <div class="container">
    <div class="bg-register">
      <h2>
        <%= t "footer.notify" %>
      </h2>
      <label for="site_name_bottom">
        <%= t "footer.experience" %>
      </label>
      <div class="reg-form">
        <input id="site_name_bottom" class="input-site-name d-none d-md-inline-block" type="text" value=""
          placeholder="Nhập email của bạn">
        <%= link_to t("footer.new"), "#", class:"btn-registration banner-home-registration event-Sapo-Free-Trial-form-open" %>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>
              <%= t "library" %>
            </h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("index"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("blog"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("book_cart"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("recruit"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4><%= t "new_book" %></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("index"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("blog"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("book_cart"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("recruit"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4><%= t "contact" %></h4>
            <p>
              Bắc Từ Liêm <br>
              Đường Cầu Diễn, NY 535022<br>
              Kiều Mai, Hà Nội <br><br>
              <strong>Phone:</strong> +033 89 10238<br>
              <strong>Email:</strong> caovanson@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><%= t "about" %></h3>
            <p>
              <%= t "about_content" %>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class="google-plus">
                <i class="fab fa-google-plus-g"></i>
              </a>
              <a href="#" class="linkedin">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4><%= t "help" %></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("index"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("blog"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("book_cart"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("recruit"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4><%= t "book_love" %></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("index"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("blog"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("book_cart"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("recruit"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4><%= t "service" %></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("index"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("blog"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("book_cart"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("recruit"), "#" %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to t("price_list"), "#" %></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-info">
            <h3><%= t "time_work" %></h3>
            <p><%= t "time_content" %></p>
            <div class="social-links mt-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-6 ">
            <p class="copyright">
            <span class="d-none d-lg-inline-block">Copyright © 2021&nbsp;</span><a
                href="" target="_blank" rel="noopener"> Sơn - Hoà</a></p>
          </div>
        </div>
      </div>
      <p class="copyright-mobile d-lg-none d-md-block d-none text-center">© Copyright 2008 - 2021</p>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="fas fa-arrow-up"></i>
</a>
