<tr>
  <td>
    <input type="checkbox" id="check_book" name="foo" data-bookid="<%= book.id %>">
  </td>
  <td>
    <div class="d-inline-block align-middle">
      <%= image_tag book.image ,class: "align-top m-r-15 w-66" %>
      <div class="d-inline-block">
        <h6 class="m-b-0"></h6>
        <p class="m-b-0"></p>
      </div>
    </div>
  </td>
  <td>
    <%= book.name %>
  </td>
  <td>
    <%= book.author_name %>
  </td>
  <td>
    <input type="number" class="quantity" min="1" max="5" value="1">
  </td>
  <td>
    <span class="badge bg-danger">
      <%= t "not_order" %>
    </span>
    <div class="overlay-edit">
      <% if logged_in? %>
        <%= link_to "#", {class:"btn btn-icon btn-success order_book", data: {bs_toggle: "modal", bs_target: "#exampleModalToggle",id: book.id, name: book.name}} do %>
          <i class="feather icon-check-circle"></i>
        <% end %>
      <% else %>
        <%= link_to "javascript:void(0)", {class:"btn btn-icon btn-success order_one", data: {login: "not_login", url: login_path}} do %>
          <i class="feather icon-check-circle"></i>
        <% end %>
      <% end %>
      <%= link_to order_path(book), class:"btn btn-icon btn-danger", method: "DELETE" do %>
        <i class="feather icon-trash-2"></i>
      <% end %>
    </div>
  </td>
</tr>
