<% provide :title, t("home.search") %>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header page-header-0">
      <div class="card-header">
        <div>
          <a class="btn btn-danger">
            <%= t "cart_book" %>
            <span class="badge bg-secondary">
              <%= session_book.nil? ? "0" : count_book %>
            </span>
          </a>
          <a class="btn btn-warning">
            <%= t "my_lib" %>
          </a>
          <a class="btn btn-success">
            <%= t "book_app" %>
          </a>
          <a class="btn btn-primary">
            <%= t "book_f" %>
          </a>
        </div>
        <hr>
        <div class="dt-responsive table-responsive user-profile-list">
          <table id="user-list-table" class="table nowrap">
            <thead>
              <tr>
                <th>
                  <%= t("books.image") %>
                </th>
                <th>
                  <%= t("books.name") %>
                </th>
                <th>
                  <%= t("books.author") %>
                </th>
                <th>
                  <%= t("books.publiser") %>
                </th>
                <th>
                  <%= t("status") %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "website/books/cart", collection: @books, as: :book %>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <%= t("books.image") %>
                </th>
                <th>
                  <%= t("books.name") %>
                </th>
                <th>
                  <%= t("books.author") %>
                </th>
                <th>
                  <%= t("books.publiser") %>
                </th>
                <th>
                  <%= t("status") %>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="order_book">
          <%= link_to "#", class:"btn btn-success" do %>
            <i class="feather me-2 icon-check-circle"></i> <%= t "order.index" %>
          <% end %>
          <%= link_to reset_cart_path, class:"btn btn-danger", method: "DELETE" do %>
            <i class="feather me-2 icon-slash"></i> <%= t "order.delete_all" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "website/order/modal" %>
