<tr>
  <td>
    <%= image_tag book.image ,class: "align-top m-r-15 w-66" %>
  </td>
  <td>
    <%= book.name %>
  </td>
  <td>
    <%= book.quantity_real %> / <%= book.quantity %>
  </td>
  <td>
    <%= book.author_name %>
  </td>
  <td>
    <%= book.publisher_name %>
  </td>
</tr>
