if(<%= @pagy.count %> == 0){
  Swal.fire({
    title: '<strong>' + "<%= j t("no_result") %>" + '</strong>',
    html: "<%= j t("cannot_find_book") %>",
    icon: 'warning',
    showCancelButton: false,
    reverseButtons: false,
    showConfirmButton: false
  })
}else{
  $(".search-book").remove();
  $(".search-book-p").prepend("<span class='spinner-border spinner-border-sm spinner-border-sm-book' role='status'></span>")
  $(".pagySearchBook").html("<%== j pagy_nav @pagy %>")
  $(".table_book").html("<%= j render(partial: "website/carts/cart", collection: @orders, as: :order) %>")
  setTimeout(render_book, 500);
}
function render_book() {
  $(".item-code").addClass("bounceInRight animated")
  $(".spinner-border-sm-book").remove();
  $(".search-book-p").prepend("<i class='fas fa-search search-book'></i>")
}
