<% provide :title, t("home.cart") %>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header page-header-0">
      <div class="card-header">
        <div>
          <%= link_to order_index_path, class:"btn btn-danger" do %>
            <%= t "cart_book" %>
            <span class="badge bg-secondary count_book">
              <%= session_book.nil? ? "0" : count_book %>
            </span>
          <% end %>
          <%= link_to carts_path, class:"btn btn-warning" do %>
            <%= t "my_lib" %>
          <% end %>
          <a class="btn btn-success">
            <%= t "book_app" %>
          </a>
          <a class="btn btn-primary">
            <%= t "book_f" %>
          </a>
        </div>
        <hr>
        <div class="row">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="text-center text-danger">
                <%= t "order.search" %>
              </h4>
              <hr>
            </div>
          </div>
          <%= search_form_for @search, url: carts_path, method: :get, remote: true do |f| %>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <%= f.label t("books.date_start"), class:"form-label" %>
                <%= f.date_field :date_start_eq, class:"form-control" %>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <%= f.label t("books.date_return"), class:"form-label" %>
                <%= f.date_field :date_return_eq, class:"form-control" %>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <%= f.label t("status"), class:"form-label" %>
                <%= f.select :status_eq, Order.statuses, {include_blank: t("choose_status")}, {:class => "form-select"} %>
              </div>
              <div class="col-12 col-sm-12 col-md- col-lg- col-xl- col-xxl-2">
                <label class="form-label"> .</label>
                <button type="submit" class="btn btn-danger w-100 search-book-p">
                  <i class="fas fa-search search-book"></i>
                  <span> <%= t "search" %></span>
                </button>
              </div>
            </div>
          <% end %>
        </div>
        <div class="dt-responsive table-responsive user-profile-list">
          <table id="user-list-table" class="table nowrap">
            <thead>
              <tr>
                <th>
                  <%= t "books.date_start" %>
                </th>
                <th>
                  <%= t "books.date_return" %>
                </th>
                <th>
                  <%= t "books.created_at" %>
                </th>
                <th>
                  <%= t "status" %>
                </th>
              </tr>
            </thead>
            <tbody class="table_book" id="table_book">
              <%= render partial: "website/carts/cart", collection: @orders, as: :order %>
            </tbody>
          </table>
        </div>
        <%== pagy_nav @pagy %>
      </div>
    </div>
  </div>
</div>
<%= render "website/carts/modal" %>
