<% provide :title, t("home.product") %>

<div class="col-sm-12">
  <div class="page-header page-header-0">
    <div class="card-header">
      <div class="row">
        <div class="col- col-sm- col-md- col-lg- col-xl-3 col-xxl-3">
          <div>
            <%= image_tag @book.image, class: "w-100" %>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-7 col-xxl-7">
          <div>
            <h2>
              <%= @book.name %>
            </h2>
          </div>
          <div class="m1">
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="dt">
              <i class="far fa-star"></i>
            </span>
            <span class="dt1">
              ( <%= t "reviews" %> )
            </span>
          </div>
          <div class="mt-20">
            <strong>
              <%= t "website.products.category_name" %> :
            </strong>
            <span>
              <% @category_books.each do |category| %>
                <%= category.category_name %> |
              <% end %>
            </span>
          </div>
          <div class="mt-10">
            <strong>
              <%= t "author_name" %> :
            </strong>
            <span>
              <%= @book.author_name %>
            </span>
          </div>
          <div class="mt-10">
            <strong>
              <%= t "publisher_name" %> :
            </strong>
            <span>
              <%= @book.publisher_name %>
            </span>
          </div>
          <div class="flex mt-20">
            <div class="minus">
              <i class="fas fa-minus"></i>
            </div>
            <div>
              <input type="text" min="1" max="5" value="1" class="input-30">
            </div>
            <div class="plus">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="m-10px">
            <%= link_to order_path(@book),class: "btn btn-danger p-l-10", method: "PUT" do %>
              <i class="fab fa-telegram"></i>
              <span> <%= t "book_now" %></span>
            <% end %>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-2 col-xxl-2">
        </div>
      </div>

    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="page-header page-header-0">
      <div class="card-header">
        <h4>
          <%= t "des_book" %>
        </h4>
        <hr>
        <div class="col-sm-9">
          <%= sanitize @book.description %>
        </div>
      </div>
    </div>
  </div>
</div>
