<% provide :title, t("home.product") %>

<%= render "website/products/modal_comment" %>
<div class="col-sm-12">
  <div class="page-header page-header-0">
    <div class="card-header">
      <div class="row">
        <div class="col- col-sm- col-md- col-lg- col-xl-3 col-xxl-3">
          <div>
            <%= image_tag @book.image, class: "w-100" %>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-7 col-xxl-7">
          <div>
            <h2>
              <%= @book.name %>
            </h2>
          </div>
          <div class="m1">
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="dt">
              <i class="far fa-star"></i>
            </span>
            <span class="dt1">
              ( <%= t "reviews" %> )
            </span>
          </div>
          <div class="mt-20">
            <strong>
              <%= t "website.products.category_name" %> :
            </strong>
            <span>
              <% @category_books.each do |category| %>
                <%= category.category_name %> |
              <% end %>
            </span>
          </div>
          <div class="mt-10">
            <strong>
              <%= t "author_name" %> :
            </strong>
            <span>
              <%= @book.author_name %>
            </span>
          </div>
          <div class="mt-10">
            <strong>
              <%= t "publisher_name" %> :
            </strong>
            <span>
              <%= @book.publisher_name %>
            </span>
          </div>
          <div class="flex mt-20">
            <div class="minus">
              <i class="fas fa-minus"></i>
            </div>
            <div>
              <input type="text" min="1" max="5" value="1" class="input-30">
            </div>
            <div class="plus">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="m-10px">
            <%= link_to order_path(@book),class: "btn btn-danger p-l-10", method: "PUT" do %>
              <i class="fab fa-telegram"></i>
              <span> <%= t "book_now" %></span>
            <% end %>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-2 col-xxl-2">
        </div>
      </div>

    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="page-header page-header-0">
      <div class="card-header">
        <h4>
          <%= t "des_book" %>
        </h4>
        <hr>
        <div class="col-sm-9">
          <%= sanitize @book.description %>
        </div>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=119&height=20&appId" width="119" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <div class="fb-save" data-uri="https://www.instagram.com/facebook/" data-size="large"></div>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=small&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="page-header page-header-0">
      <div class="card-header">
        <h4>
          <%= t "comments.book" %>
        </h4>
        <hr>
        <div class="col-sm-8">
          <%= form_for @com,url: comments_path, remote: true do |f| %>
            <%= f.text_field :content, class:"form-control w-60" %>
            <%= f.hidden_field :book_id, class:"form-control w-60", value: @book.id %>
            <%= f.hidden_field :user_id, class:"form-control w-60", value: current_user.id %>
            <%= f.hidden_field :parent_id, class:"form-control w-60", value: 0 %>
            <button type="submit" class="btn btn-primary">
              <%= t "comments.comment" %>
            </button>
          <% end %>
        </div>
        <hr>
        <div class="col-sm-8 comment-box">
          <%= show_comments(@comments, 0, "", "").html_safe %>
        </div>
      </div>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="QedemCD1"></script>
      <div class="fb-comments" data-href="https://localhost:3000" data-width="" data-numposts="5"></div>
    </div>
  </div>
</div>
