<tr>
  <td>
    <%= category.id %>
  </td>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= category.created_at %>
  </td>
  <td>
    <%= link_to edit_admin_category_path(category),
      {class: "btn btn-icon btn-success",
        data: { bs_toggles: "tooltip",
        bs_placement: "top"}} do %>
      <i class="icon feather icon-edit f-16"></i>
    <% end %>
    <%= link_to "javascript:void(0)",
      {class: "btn btn-icon btn-danger delete_category",
        data: { url: admin_category_path(category),
        bs_placement: "top"}} do %>
      <i class="icon feather icon-trash-2 f-16"></i>
    <% end %>
  </td>
</tr>
