<% provide :title, t("users.title") %>


<section class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">
                        <%= t "users.list" %>
                      </h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <%= link_to admin_home_path do %>
                          <i class="feather icon-home"></i>
                        <% end %>
                      </li>
                      <li class="breadcrumb-item">
                        <%= link_to t("home"), admin_home_path %>
                      </li>
                      <li class="breadcrumb-item">
                        <%= link_to t("users.list"), "#" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="page-header">
                  <div class="">
                    <h5>
                      <%= t "users.list" %>
                    </h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover m-b-0 table-user">
                        <thead>
                          <tr>
                            <th>
                              <%= t "users.image" %>
                            </th>
                            <th>
                              <%= t "users.name" %>
                            </th>
                            <th>
                              <%= t "users.email" %>
                            </th>
                            <th>
                              <%= t "users.phone_number" %>
                            </th>
                            <th>
                              <%= t "users.admin" %>
                            </th>
                            <th>
                              <%= t "users.action" %>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <%= render @users %>
                        </tbody>
                      </table>
                    </div>
                    <%== pagy_nav @pagy %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "modal_user" %>
