<% provide :title, t("home.product") %>

<div class="col-sm-12">
  <div class="page-header page-header-0">
    <div class="card-header">
      <div class="row">
        <div class="col- col-sm- col-md- col-lg- col-xl-3 col-xxl-3">
          <div>
            <%= image_tag "banner1.webp", class: "w-100" %>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-7 col-xxl-7">
          <div>
            <h3>
              <%= t "books.name" %>
            </h3>
          </div>
          <div class="m1">
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star"></i>
            </span>
            <span class="dt">
              <i class="fas fa-star-half-alt"></i>
            </span>
            <span class="dt">
              <i class="far fa-star"></i>
            </span>
            <span class="dt1">
              ( <%= t "reviews" %> )
            </span>
          </div>
          <div class="mt-20">
            <span>
              <%= t "author_name" %> :
            </span>
            <span>
            </span>
          </div>
          <div>
            <span>
              <%= t "publisher_name" %> :
            </span>
            <span>
            </span>
          </div>
          <div class="wo">
            <input type="date" name="" class="datepicker-input form-control w-400">
          </div>
          <div class="flex">
            <div class="minus">
              <i class="fas fa-minus"></i>
            </div>
            <div>
              <input type="text" class="input-30">
            </div>
            <div class="plus">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="m-10px">
            <button class="btn btn-danger p-l-10">
              <i class="fab fa-telegram"></i>
              <span> <%= t "book_now" %></span>
            </button>
          </div>
        </div>
        <div class="col- col-sm- col-md- col-lg- col-xl-2 col-xxl-2">
        </div>
      </div>

    </div>
  </div>
</div>
<div class="">
  <div class="">
    <div class="page-header page-header-0">
      <div class="card-header">
        <h4>
          <%= t "des_book" %>
        </h4>
        <hr>
        <div class="col-sm-9">
        </div>
      </div>
    </div>
  </div>
</div>
